body{
    background-color: black;
}
header{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    background-color:rgb(88, 88, 95);
}
th{
    color: white;
    padding: 5px;
}
tbody{
    background-color: red;
}
td{
    color: white;
    padding: 5px;
    margin-left: 5px;
}
tfoot{
    background-color: green;
}